{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [reagent "1.0.0"]
                [org.clojure/core.match "1.0.0"]
                [metosin/malli "0.5.1"]]

 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [cel-aut.app]}}
                      :devtools   {:after-load cel-aut.app/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
