{:source-paths ["src" "test"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [reagent "1.0.0"]
                [org.clojure/core.match "1.0.0"]
                [metosin/malli "0.5.1"]]

 :builds {:app
          {:target     :browser
           :output-dir "public/js"
           :asset-path "/js"
           :build-options {:cache-level :off}
           :modules    {:app {:entries [cel-aut.app]}}
           :devtools   {:after-load cel-aut.app/mount-root
                        :http-root "public"
                        :http-port 3000}}

          :browser-test
          {:target    :browser-test
           :ns-regexp "-test$"
           :build-options {:cache-level :off}
           :runner-ns shadow.test.browser
           :test-dir  "target/browser-test"
           :devtools  {:http-root "target/browser-test"
                       :http-port 3010}}}}
